.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.xianliaome__component__container{
    width: 100%;
    height: 100%;
}

.test{
    float: right;
    min-height: 400px;
    width: 30%;
    max-width: 200px;
    min-width: 100px;
    right:0px;
    top:0px;
    background: lightblue;
}

.transparent-layer{
    width: 100%;
    height: 100%;
}

.test-1{
    float: left;
    display: inline-block;
    margin: 10px;
    width: 20%;
    min-width: 200px;
    max-width: 300px;
    height: 20%;
    min-height: 200px;
    max-height: 300px;
    background: rgba(32,44,123,0.4);
}

.xianliao__button{
    background-color: #e7e7e7;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin: 5px 10px;
}

.xianliao__button:hover{
}
